@using System.Net;
@using System.Net.NetworkInformation;
@using FILog.Models;

@*<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <div class="sidebar-brand">
            <a href="./index.html" class="brand-link">
                <img src="../../dist/assets/img/AdminLTELogo.png"
                     alt="AdminLTE Logo"
                     class="brand-image opacity-75 shadow" />
                <span class="brand-text fw-light">AdminLTE 4</span>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <nav class="mt-2">
                <ul class="nav sidebar-menu flex-column"
                    data-lte-toggle="treeview"
                    role="menu"
                    data-accordion="false">
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon bi bi-speedometer"></i>
                            <p>
                                Dashboard
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link active">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Dashboard v1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index2.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Dashboard v2</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index3.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Dashboard v3</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="./generate/theme.html" class="nav-link">
                            <i class="nav-icon bi bi-palette"></i>
                            <p>Theme Generate</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-box-seam-fill"></i>
                            <p>
                                Widgets
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./widgets/small-box.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Small Box</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./widgets/info-box.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>info Box</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./widgets/cards.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Cards</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-clipboard-fill"></i>
                            <p>
                                Layout Options
                                <span class="nav-badge badge text-bg-secondary me-3">6</span>
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./layout/unfixed-sidebar.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Default Sidebar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/fixed-sidebar.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Fixed Sidebar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/layout-custom-area.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Layout <small>+ Custom Area </small></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/sidebar-mini.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Sidebar Mini</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/collapsed-sidebar.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Sidebar Mini <small>+ Collapsed</small></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/logo-switch.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Sidebar Mini <small>+ Logo Switch</small></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./layout/layout-rtl.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Layout RTL</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-tree-fill"></i>
                            <p>
                                UI Elements
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./UI/general.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>General</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./UI/icons.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Icons</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./UI/timeline.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Timeline</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-pencil-square"></i>
                            <p>
                                Forms
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./forms/general.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>General Elements</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-table"></i>
                            <p>
                                Tables
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./tables/simple.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Simple Tables</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">EXAMPLES</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-box-arrow-in-right"></i>
                            <p>
                                Auth
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-box-arrow-in-right"></i>
                                    <p>
                                        Version 1
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./examples/login.html" class="nav-link">
                                            <i class="nav-icon bi bi-circle"></i>
                                            <p>Login</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./examples/register.html" class="nav-link">
                                            <i class="nav-icon bi bi-circle"></i>
                                            <p>Register</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-box-arrow-in-right"></i>
                                    <p>
                                        Version 2
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./examples/login-v2.html" class="nav-link">
                                            <i class="nav-icon bi bi-circle"></i>
                                            <p>Login</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./examples/register-v2.html" class="nav-link">
                                            <i class="nav-icon bi bi-circle"></i>
                                            <p>Register</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="./examples/lockscreen.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Lockscreen</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">DOCUMENTATIONS</li>
                    <li class="nav-item">
                        <a href="./docs/introduction.html" class="nav-link">
                            <i class="nav-icon bi bi-download"></i>
                            <p>Installation</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/layout.html" class="nav-link">
                            <i class="nav-icon bi bi-grip-horizontal"></i>
                            <p>Layout</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/color-mode.html" class="nav-link">
                            <i class="nav-icon bi bi-star-half"></i>
                            <p>Color Mode</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-ui-checks-grid"></i>
                            <p>
                                Components
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./docs/components/main-header.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Main Header</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./docs/components/main-sidebar.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Main Sidebar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-filetype-js"></i>
                            <p>
                                Javascript
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./docs/javascript/treeview.html" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Treeview</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/browser-support.html" class="nav-link">
                            <i class="nav-icon bi bi-browser-edge"></i>
                            <p>Browser Support</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/how-to-contribute.html" class="nav-link">
                            <i class="nav-icon bi bi-hand-thumbs-up-fill"></i>
                            <p>How To Contribute</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/faq.html" class="nav-link">
                            <i class="nav-icon bi bi-question-circle-fill"></i>
                            <p>FAQ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./docs/license.html" class="nav-link">
                            <i class="nav-icon bi bi-patch-check-fill"></i>
                            <p>License</p>
                        </a>
                    </li>
                    <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle-fill"></i>
                            <p>Level 1</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle-fill"></i>
                            <p>
                                Level 1
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Level 2</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>
                                        Level 2
                                        <i class="nav-arrow bi bi-chevron-right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon bi bi-record-circle-fill"></i>
                                            <p>Level 3</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon bi bi-record-circle-fill"></i>
                                            <p>Level 3</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon bi bi-record-circle-fill"></i>
                                            <p>Level 3</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Level 2</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle-fill"></i>
                            <p>Level 1</p>
                        </a>
                    </li>
                    <li class="nav-header">LABELS</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle text-danger"></i>
                            <p class="text">Important</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle text-warning"></i>
                            <p>Warning</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle text-info"></i>
                            <p>Informational</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>*@

@*==================================*@

@{
    //var menuItems = new List<MenuItem>
    //{
    //        new MenuItem
    //        {
    //            Title = "Dashboard",
    //            Icon = "bi-speedometer",
    //            Link = "#",
    //            SubItems = new List<MenuItem>
    //{
    //                new MenuItem { Title = "Dashboard v1", Link = "./" },
    //                new MenuItem { Title = "Dashboard v2", Link = "./customers" },
    //                new MenuItem { Title = "Dashboard v3", Link = "./index3.html" }
    //            }
    //        },
    //        new MenuItem
    //        {
    //            Title = "Theme Generate",
    //            Icon = "bi-palette",
    //            Link = "./generate/theme.html",
    //            SubItems = new List<MenuItem>() // No sub-items here
    //        },
    //        new MenuItem
    //        {
    //            Title = "Widgets",
    //            Icon = "bi-box-seam-fill",
    //            Link = "#",
    //            SubItems = new List<MenuItem>
    //{
    //                new MenuItem { Title = "Small Box", Link = "./widgets/small-box.html" },
    //                new MenuItem { Title = "Info Box", Link = "./widgets/info-box.html" },
    //                new MenuItem { Title = "Cards", Link = "./widgets/cards.html" }
    //            }
    //        }
    //    };


    //var menuItems = new List<MenuItem>();

    //// Create and configure the Dashboard menu
    //var dashboardMenu = new MenuItem();
    //dashboardMenu.Title = "Dashboard";
    //dashboardMenu.Icon = "bi-speedometer";
    //dashboardMenu.Link = "#";
    //dashboardMenu.SubItems = new List<MenuItem>();

    //var dashboardSubItem1 = new MenuItem();
    //dashboardSubItem1.Title = "Dashboard v1";
    //dashboardSubItem1.Link = "./";

    //var dashboardSubItem2 = new MenuItem();
    //dashboardSubItem2.Title = "Dashboard v2";
    //dashboardSubItem2.Link = "./customers";

    //var dashboardSubItem3 = new MenuItem();
    //dashboardSubItem3.Title = "Dashboard v3";
    //dashboardSubItem3.Link = "./index3.html";

    //// Add sub-items to Dashboard
    //dashboardMenu.SubItems.Add(dashboardSubItem1);
    //dashboardMenu.SubItems.Add(dashboardSubItem2);
    //dashboardMenu.SubItems.Add(dashboardSubItem3);

    //// Add Dashboard to the main menu
    //menuItems.Add(dashboardMenu);

    //// Create and configure the Theme Generate menu
    //var themeMenu = new MenuItem();
    //themeMenu.Title = "Theme Generate";
    //themeMenu.Icon = "bi-palette";
    //themeMenu.Link = "./generate/theme.html";
    //themeMenu.SubItems = new List<MenuItem>(); // No sub-items

    //menuItems.Add(themeMenu);

    //// Create and configure the Widgets menu
    //var widgetsMenu = new MenuItem();
    //widgetsMenu.Title = "Widgets";
    //widgetsMenu.Icon = "bi-box-seam-fill";
    //widgetsMenu.Link = "#";
    //widgetsMenu.SubItems = new List<MenuItem>();

    //var widgetsSubItem1 = new MenuItem();
    //widgetsSubItem1.Title = "Small Box";
    //widgetsSubItem1.Link = "./widgets/small-box.html";

    //var widgetsSubItem2 = new MenuItem();
    //widgetsSubItem2.Title = "Info Box";
    //widgetsSubItem2.Link = "./widgets/info-box.html";

    //var widgetsSubItem3 = new MenuItem();
    //widgetsSubItem3.Title = "Cards";
    //widgetsSubItem3.Link = "./widgets/cards.html";

    //// Add sub-items to Widgets
    //widgetsMenu.SubItems.Add(widgetsSubItem1);
    //widgetsMenu.SubItems.Add(widgetsSubItem2);
    //widgetsMenu.SubItems.Add(widgetsSubItem3);

    //// Add Widgets to the main menu
    //menuItems.Add(widgetsMenu);


    //Iseng

    var hostname = Dns.GetHostName();
    var username = Environment.UserName;
    var ipAddress = Dns.GetHostEntry(hostname).AddressList.FirstOrDefault(x => x.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork)?.ToString();
    var macAddress = NetworkInterface.GetAllNetworkInterfaces()
        .Where(nic => nic.OperationalStatus == OperationalStatus.Up && nic.NetworkInterfaceType != NetworkInterfaceType.Loopback)
        .Select(nic => nic.GetPhysicalAddress().ToString())
        .FirstOrDefault();


    var menuItems = new List<MenuItem>();

    // Helper method to create a menu item
    MenuItem CreateMenuItem(string title, string icon = null, string link = null, List<MenuItem> subItems = null)
    {
        var menuItem = new MenuItem
        {
            Title = title,
            Icon = icon,
            Link = link,
            SubItems = subItems ?? new List<MenuItem>()
        };
        return menuItem;
    }

    // Populate the menu
//     menuItems.Add(CreateMenuItem("Nalendra", "bi-speedometer", "#", new List<MenuItem>
// {
//     CreateMenuItem("Dashboard v1", link: "./"),
//     CreateMenuItem("Dashboard v2", link: "./customers"),
//     CreateMenuItem("Dashboard v3", link: "./index3.html")
// }));

    menuItems.Add(CreateMenuItem("Start Inspection", "bi bi-play-btn-fill", "/QualityInspection/StartInspection"));
    menuItems.Add(CreateMenuItem("Finish Inspection", "bi bi-flag-fill", "/QualityInspection/FinishInspection"));

    menuItems.Add(CreateMenuItem("Concession, Production Permit, KFR", "bi bi-building-fill-gear", "/Conpro/Concession"));

    menuItems.Add(CreateMenuItem("Modify Data", "bi-palette", "./QualityInspection/StartInspection"));
    menuItems.Add(CreateMenuItem("Log Book", "bi-palette", "./QualityInspection/StartInspection"));
    menuItems.Add(CreateMenuItem("C of C", "bi-palette", "./QualityInspection/StartInspection"));

    menuItems.Add(CreateMenuItem("Setting", "bi bi-gear-fill", "/QualityAlert/QualityAlert"));

    menuItems.Add(CreateMenuItem("Drawing Mgmt", "bi-palette", "./QualityInspection/StartInspection"));
    menuItems.Add(CreateMenuItem("RMA Log", "bi-palette", "./QualityInspection/StartInspection"));
    menuItems.Add(CreateMenuItem("Release UAMR", "bi-palette", "/Uamr/Index"));



//     menuItems.Add(CreateMenuItem("Theme Generate", "bi-palette", "./generate/theme.html"));
//     menuItems.Add(CreateMenuItem("Widgets", "bi-box-seam-fill", "#", new List<MenuItem>
// {
//     CreateMenuItem("Small Box", link: "./widgets/small-box.html"),
//     CreateMenuItem("Info Box", link: "./widgets/info-box.html"),
//     CreateMenuItem("Cards", link: "./widgets/cards.html")
// }));


}

<aside class="app-sidebar" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="./index.html" class="brand-link">
            <img src="../../dist/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light"> Collins Aerospaces</span>

                @hostname
            
        </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                @foreach (var item in menuItems)
                {
                    var hasSubItems = item.SubItems.Any();
                    <li class="nav-item" data-menu-title="@item.Title">
                        <a href="@item.Link" class="nav-link toggle-menu @(hasSubItems ? "has-submenu" : "")">
                            <i class="nav-icon bi @item.Icon" aria-hidden="true"></i>
                            <p>
                                @item.Title
                                @if (hasSubItems)
                                {
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                }
                            </p>
                        </a>
                        @if (hasSubItems)
                        {
                            <ul class="nav nav-treeview collapse">
                                @foreach (var subItem in item.SubItems)
                                {
                                    <li class="nav-item" data-menu-title="@subItem.Title">
                                        <a href="@subItem.Link" class="nav-link">
                                            <i class="nav-icon bi bi-circle" aria-hidden="true"></i>
                                            <p>@subItem.Title</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>


@*<script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuStates = JSON.parse(localStorage.getItem("menuStates")) || {};
            console.log("Loaded menuStates from localStorage:", menuStates);


            function restoreMenuState() {
                document.querySelectorAll(".nav-item").forEach(item => {
                    const title = item.getAttribute("data-menu-title");
                    const submenu = item.querySelector(".nav-treeview");
                    const toggleLink = item.querySelector(".toggle-menu");

                    if (!title || !submenu) return;

                    const isExpanded = menuStates[title];
                    if (isExpanded) {
                        submenu.classList.add("show");
                        toggleLink.classList.add("active");

                        // Expand parent menus
                        let parent = item.closest(".nav-treeview");
                        while (parent) {
                            parent.classList.add("show");
                            parent.closest(".nav-item")
                                ?.querySelector(".toggle-menu")
                                ?.classList.add("active");
                            parent = parent.closest(".nav-treeview");
                        }
                    } else {
                        submenu.classList.remove("show");
                        toggleLink.classList.remove("active");
                    }
                });
            }


            function setupMenuToggleListeners() {
                document.querySelectorAll(".nav-item").forEach(item => {
                    const title = item.getAttribute("data-menu-title");
                    const submenu = item.querySelector(".nav-treeview");
                    const toggleLink = item.querySelector(".toggle-menu");

                    if (!title) {
                        console.warn("Missing data-menu-title on nav-item:", item);
                        return;
                    }

                    toggleLink?.addEventListener("click", function (e) {
                        e.preventDefault();

                        const isExpanded = submenu?.classList.contains("show");
                        submenu?.classList.toggle("show", !isExpanded);
                        toggleLink.classList.toggle("active", !isExpanded);

                        menuStates[title] = !isExpanded;
                        localStorage.setItem("menuStates", JSON.stringify(menuStates));
                        console.log("Updated menuStates in localStorage:", menuStates);
                    });
                });
            }

            restoreMenuState();
            setupMenuToggleListeners();
        });
    </script>*@
